* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    display: flex;
    /* border: 2px solid teal; */
    justify-content: center;
    /* justify-content: flex-end; */
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0;
}

.menu {
    display: flex;
    border: 2px solid brown;
    /* justify-content: space-around; */
    justify-content: space-evenly;
    width: 500px;
    padding: 10px 0;
}

.date {
    display: flex;
    border: 2px solid salmon;
}

.links {
    display: flex;
    border: 2px solid greenyellow;
    justify-content: space-evenly;
    width: 200px;
}

/* .login {
    /* margin-left: 20px; */
/* }  */

.links > * {
    border: 2px solid darkblue;
    flex: 0 1 auto;
    text-align: center;
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    /* height: 200px; */
    justify-content: center;
}

.header {
    border: 2px solid saddlebrown;
    width: 900px;
    height: 120px;
    display: flex;
    /* flex: 1; */
    justify-content: space-evenly;
    align-items: center;
}

.header > * {
    /* display: flex; */
    border: 2px solid saddlebrown;
    /* flex: 1 1 auto; */
    /* justify-content: space-evenly; */
}

/* .logo, .social, .subscribe {
    border: 1px solid;
} */

/* .menu-item {
    border: 1px solid;
    padding: 5px 10px;
} */

/* .date.menu-item {
    border: 2px solid;
} */