body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.addEventListenerContainer {
    margin: 0 0 0 25px;
    border: 2px solid firebrick;
    display: flex;
    flex-direction: column;
    width: 750px;
}

h2 {
    border: 2px solid firebrick;
    margin-bottom: 0;
}

.js-code {
    margin: 10px 0;
    padding: 20px;
    padding-left: 40px;
    background-color: #eeeef0;
    font-size: 14.5px;
}

.js-function {
    color: #dd4a68;
}

.js-keyword {
    color: #07a;
}

code {
    padding: 3px 9px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Roberto Mono', monospace;
    background-color: #d0d0d5
}

li {
    padding: 0 0 10px 0;
    line-height: 1.5;
}