pre code {
    color: black;
    display: inline-block;
    /* display: flexbox; */
    background-color: rgb(220, 220, 220);
    border: 1px;
    /* padding: 5px; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: monospace;
}

.code-header {
    color: rgb(46, 44, 44);
}
