pre code {
    color: black;
    background-color: rgb(220, 220, 220);
    font-family: monospace;
    
    /* border: 10px;
    border-style: solid; */
    /* border-color: blue; */
    
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    /* I didn't include any padding for the left as none was required. */
    display: inline-block;
}

.code-header {
    color: rgb(46, 44, 44);
}

h2 {
    text-indent: 20px;
}
