.container {
    display: flex;
    /* border: 5px solid lightcoral; */
    margin: 25px;
    height: 200px;
    /* justify-content: center; */
    /* align-items: center; */
    /* justify-items: stretch; */
    /* align-items: stretch; */
    /* align-content: stretch; */
}

.odd-container, .even-container {
    flex: 1;
    padding: 55px;
    font-size: 50px;
    text-align: center;
    width: 150px;
    color: lightyellow;
}

.odd-container {
    border: 5px solid purple;
    background-color: cornflowerblue;
}

.even-container {
    border: 5px solid salmon;
    background-color: pink;
}

* {
    background-color: lightyellow;
}