body {
    margin-left: 50px;
    /* border: 2px solid firebrick; */
    font-size: 17px;
}

h2 {
    margin-top: 35px;
}


.main-methods-container {
    /* border: 2px solid firebrick; */
    display: flex;
    gap: 50px;
    font-weight: bold;
}

.methods-container1 > *, .methods-container2 > *, .methods-container3 > * {
    margin: 8px 0;
    /* border: 2px solid firebrick; */
    /* border: 2px solid firebrick; */
}

    .methods-container1, .methods-container2, .methods-container3 {
        display: flex;
        flex-direction: column;
    }

    .definition-syntax {
        /* line-height: 2; */
        /* margin: 20px 0; */
        /* border: 2px solid firebrick; */
        font-style: italic;
    }

    .method-button {
        margin: 20px 30px 0 0;
        border: none;
        border-radius: 7px;
        padding: 8px 13px;
        /* background-color: #0a0a23; */
        color: #4e4646;
        font-weight: bold;
    }

    .method-button:hover {
        /* background-color: #002ead; */
        background-color: #0a0a23;
        color: #fff;
        transition: 0.5s;
    }

.child2, .child3 {
    margin-top: 20px;
    /* border: 2px solid greenyellow; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 700px;
}
