.input-output-container {
    margin: 2em 1em;
    /* border: 2px solid gold; */
    border-radius: 2em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: #143d59;
}

    .numberInput {
        padding: 0.2em 0.5em;
        font-size: 2em;
        width: 3em;
        text-align: center;
    }
    
    #show-dialog {
        padding: 0.4em 0.7em;
    }

    
#d {
    border-radius: 1em;
    padding: 1em 2.5em;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}
    .output-para {
        /* margin: 1em 0 0 1em; */
        /* border: 2px solid salmon; */
        font-size: 1.1em;
        line-height: 2.5;
    }

        .highlight {
            border-radius: 0.4em;
            padding: 0.2em 0.5em;
            background-color: #f4b41a;
            color: #143d59;
            font-weight: bold;
        }

        #close-dialog {
            border-radius: 0.3em;
            padding: 0.4em 0.7em;
        }
