body {
    margin: 20px 0 0 20px;
    font-size: 22px;
}

select, option {
    font-size: 18px;
}

option {
    padding: 10px 0;
}

p {
    border-radius: 5px;
    padding: 10px 10px 10px 20px;
    max-width: 500px;
    background-color: #ebedf0;
}

p:empty {
    padding: 0;
}